body{
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgb(0, 150, 136) 0px,  rgb(0, 150, 136) 15vh, rgb(219, 219, 210) 15vh, rgb(219, 219, 210) 100%);
}

:root{
    --light-blue: #8edafc;
}

.custom{
    height: 90%;
    cursor: pointer;
}

.leftbar,
.rightbar{
    float: left;
    height: 100%;
}

.leftbar{
    width:  40%;
}

.user,
.avatar-contact{
    height: 60px;
}
.avatar img{
    width: 50px;
}
.user,
.avatar-contact,
.textbar{
    background-color: #eaeaea;
    
}

.option i{
    margin-right: 10px ;
    color: #b1b1b1;
}

.allert-text,
.contact-text,
.text-avatar-contact{
    line-height: 10px;
}

.allert{
    background-color: var(--light-blue);
    height: 80px;
    
}
.allert i{
    color:var(--light-blue);
}

.search{
    background-color: #eaeaea;
    margin: 10px;
    
}
.bell{
    height: 50px;
    width: 50px;
    text-align: center;
}
.bell i{
    line-height: 50px;
    
    
}

.contacts{
    height: calc(100% - 185px);
}
.contact img{
    width: 60px;
}
.contact span,
.avatar-contact span{
    color: #c2b8bf;
}

.time{
    position: absolute;
    top: 10px;
    right: 10px;
}
.textbar i{
    font-size: 25px;
}

.rightbar{
    width:  60%;
}

.messages{
    overflow-y: scroll;
    height: calc(100% - 130px);
    background-image: url(../img/mine.jpg);
    
}
.sent{
    background-color: #d5f9ba;
    width: 40%;
    clear: both;
    float: right;
    margin-bottom: 20px;
}
.received{
    background-color: white;
    width: 35%;
    clear: both;
    float: left;
}

.time-message{
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 14px;
} 

.textbar{
    height: 70px;
}

.selected{
    background-color: #e9ebeb;
}






